/.claude
/notfinished
/timer/.claude
/timer/build
/poisson/.claude
/poisson/build
/.harper/ignored
/.harper-dictionary.txt
/crypt/build
/harper
/nkg/.clang-tidy
/nkg/build
/swapbyte/build
/swapbyte/.clang-tidy
/root/build
/swapbyte/tmp
/random/build
/root/.clang-tidy
/pause/.clang-tidy
/pause/build
/atomsphere/readme.md
/atomsphere/p1_cal.cpp
/atomsphere/build
/compile_commands.json
/io/.clang-tidy
/io/build
/CODE_QUALITY_TODO.org
